@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.create-box {
  position: relative;
  height: 320px;
  width: 320px;
  height: fit-content;
  border-radius: 5px;
}

.content{
  position: relative;
  width: 400px;
  height: 400px;
  background: #fff;
  /* background: rgb(255, 255, 255, .5); */
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.note {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  color: #2B2B2F;
}

.subtitle {
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  color: #5F5D6B;
}

.input_field {
  width: 100%;
  height: 42px;
  padding: 0 0 0 12px;
  outline: none;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 1px #2B2B2F;
  background-color: transparent;
}


/* continue */
.input-group .icon{
    position: absolute;
    right: 8px;
    top: 10px;
    color: #fff;
    font-size: 1.2em;
    line-height: 47px;
}


/* toggle eye button */
#toggleBtn{
  position: absolute;
  top: 123px;
  right: 15px;
  width: 24px;
  height: 24px;
  background: rgba(0, 0, 0, 0.07);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888;
}

#toggleBtn::before{
  content: '\f06e';
  font-family: fontAwesome;
}

#toggleBtn.hide::before{
  content: '\f070';
}
  


.form button.submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 18px;
  gap: 10px;
  width: 100%;
  height: 42px;
  background: linear-gradient(180deg, #4480FF 0%, #115DFC 50%, #0550ED 100%);
  box-shadow: 0px 0.5px 0.5px #EFEFEF, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
  border-radius: 5px;
  border: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.submit-btn{
  background: #35d4c6;
  color: white;
  border: none;
}


button {
  font-family: inherit;
  font-size: 20px;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(2.3em) rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(12em);
}

button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

/* register password validation */
.validation{
  position: absolute;
  top: 172px;
  background: #fff;
  padding: 0 10px;
  border-radius: 8px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
  transition: .2s ease;
  opacity: 1;
  z-index: 100;
  border: 1px solid #d3d3d3;
}

.validation ul{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  margin: 0;
}

.validation ul li{
  text-align: left;
  position: relative;
  list-style: none;
  color: #444;
  font-size: 0.85em;
  transition: 0.5s;
  font-size: 12px;
}

.validation ul li.valid{
  color: rgba(255, 255, 255, 0.5);
  color: #444;
}

.validation ul li::before{
  content: '\f00d';
  width: 20px;
  height: 10px;
  font-family: fontAwesome;
  display: inline-flex;
}

.validation ul li.valid::before{
  content: '\f00c';
  color: #20b06d;
}

.label-hide {
  opacity: 0;
  visibility:hidden;
}



.loader {
  --eye: #444;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader::before {
  content: '';
  position: absolute;
  top: 0;
  /* left: 0; */
  transform: translate(-50%, -50%);
  border: 5px solid var(--eye);
  border-radius: 100%;
  animation: translate-keyframes 2s infinite linear;
}

.loader span {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border-top: 12px solid var(--eye);
  border-bottom: 5px solid var(--eye);
  outline: 2px solid var(--eye);
}

.loader span {
  animation: rotate-keyframes 2s infinite linear;
}

@keyframes translate-keyframes {
  0% {
    transform: translate(-100%, -50%);
  }

  95% {
    transform: translate(50%, -50%);
  }

  96% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-100%, -50%);
  }
}

@keyframes rotate-keyframes {
  90% {
    height: 40px;
  }

  95% {
    height: 0px;
  }

  100% {
    height: 40px;
  }
}






